@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

body {
  background-color: #000100;
  font-family: 'DotGothic16', sans-serif;
}

.about-header, 
.project-header, 
.contact-header {
  display: flex;
  justify-content: center;
  font-size: 4vw;
  text-align: center;
  color: #18d14d;
  text-underline-offset: 1.3vh;
}

@keyframes example {
  0%   {left:0px; top:0px;}
  25%  { left:1000px; top:0px;}
  50%  { left:-1000px; top:0px;}
  75%  {left:1000px; top:0px;}
  100% {left:0px; top:0px;}
}
.contact-header {
  width: 300px;
  height: 100px;
  animation-iteration-count: 20;
  position: relative;
  animation-name: example;
  animation-duration: 15s
}

.head {
  align-self: center;
  font-size: 8vw;
  border: 2.7px solid #18d14d ;
  border-radius: 8px;
  border-style:outset;
  padding: .5vw 5vw;
  background: #18d14d;
  font-family: 'DotGothic16', sans-serif;
  box-shadow: 0 8px 16px 0 rgba(16, 218, 9, 0.329), 0 6px 20px 0 rgba(7, 231, 7, 0.404);
}
.header {
  display: flex;
  flex-direction: column;
}

.logo {
  flex-direction: row;
  width: 5%;
  border-radius: 4px;
  margin-left: .5vh;
  margin-right: .5vh;
  
}

.picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 60%;
  width: 60%;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #18d14d;
  
}



.input-form {
  margin-top: 0;
  box-shadow: 0 8px 16px 0 rgba(4, 241, 4, 0.562), 0 6px 20px 0 rgba(5, 255, 5, 0.623);
  border: .5vw solid #18d14d;
  border-radius: 4px;
  font-size: 4.5vw;
  outline: none;
  font-family: 'DotGothic16', sans-serif;
}

.input-label {
  font-size: 5vw;
}

.btn {
  font-family: 'DotGothic16', sans-serif;
  margin: 4vh;
  font-size: 4vh;
  border: 0.3vh solid #18d14d;
  border-radius: 4px;
  background-color: #18d14d;
  box-shadow: 0 8px 16px 0 rgba(28, 226, 21, 0.308), 0 6px 20px 0 rgba(10, 255, 1, 0.404);

}

.container-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  width: 90%;
  margin: auto;
  margin-top: 8vh;
}

.about-text {
  font-size: 4vw;
  padding: 2vw;
  color: #18d14d;
  text-align: center;
  
}

.nav {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-size: 6vw;
  margin: 1vw 8vw;
}

.nav-item {
  text-decoration: none;
  color: #18d14d;
  border: 2.7px outset;
  border-radius: 8px;
  border-style: outset;
  padding: 4px;
}

.nav-item-active {
  color: black;
  text-decoration: none;
  background-color: #18d14d;
  border: 2px outset;
  border-radius: 8px;
  border-style: outset;
  padding: .5rem;
  text-shadow: 3px 3px rgb(108, 95, 110);
  
}

.footer-container {
  text-align: center;
}

.footer {
  font-size: 25px;
  margin-top: 15vw;
  color: #18d14d;
  padding-bottom: 10px;
}

.portfolio-container {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 8vh;

}

.work-image {
  width: 50%;
  margin: 5vh;
  margin-top: 2vh;
  border-radius: 1%;
  padding: 0px;
  position: relative;
  box-shadow: 0 30px 50px 0 rgba(4, 241, 4, 0.562), 0 6px 20px 0 rgba(5, 255, 5, 0.623);
}

.work-image:hover {
  width: 60%;
  transition-duration: 0.5s;
}

.project-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ahref {
  display: flex;
  justify-content: center;
}